{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true // или может быть другой подходящий вам таргет
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
